<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mukul.mycgpa">

    <application
        android:allowBackup="true"
        android:icon="@drawable/pecha"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:roundIcon="@drawable/pecha"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainwithMenu">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".M5th"></activity>
        <activity android:name=".M7th"></activity>
        <activity android:name=".M1st"></activity>
        <activity android:name=".M3rd"></activity>
        <activity android:name=".M4th"></activity>
        <activity android:name=".M8th"></activity>
        <activity android:name=".M2nd"></activity>
        <activity android:name=".MainActivity"></activity>


    </application>

</manifest>